@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

body {
  display: grid;
  justify-content: center;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  min-height: 100vh;
  font-style: normal;
  color: #000000;
  margin: 10px;
  height: 845px;
  background-color: #1e1e1e;
  align-items: center;
}
h1 {
  color: #777;
  padding-bottom: 5px;
  font-size: 16px;
}

.section__header {
  display: flex;
  flex-direction: row;
  border: 1px solid #333;
  width: 600px;
  column-gap: 26px;
  background-color: #ffffff;
}
.section__header-img {
  padding-left: 16px;
  position: relative;
}
.liner {
  display: grid;
  width: 45px;
  height: 265px;
  background-color: #ffc905;
  position: absolute;
  left: 16px;
  top: 0;
  opacity: 0.7;
}
.section__header-text h1 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin-top: 50px;
}
.section__header-text h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 15px 0 35px;
  background-color: gold;
  max-width: 115px;
  padding-left: 12px;
}
hr {
  height: 3px;
  width: 20px;
  background-color: #ffc905;
  margin: 10px 0 10px;
}
h2 {
  font-size: 17px;
  font-weight: 700;
}
.section__header-text > h4 {
  font-size: 10px;
  color: gold;
}
p {
  font-size: 10px;
}

.section__second {
  display: flex;
  flex-direction: row;
  max-width: 600px;
}

.section__left {
  display: grid;
  width: 45%;
}
.section__text {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 0 17px;
  background-color: #292935;
  color: #ffffff;
}
.section__text h4 {
  font-size: 15px;
  font-weight: 800;
  margin: 5px 0 10px;
}
.section__text h3 {
  font-size: 15px;
  margin-bottom: 10px;
}
.section__text hr {
  margin: 10px 0;
}
.section__text p {
  margin-bottom: 20px;
}
.section__text-bot {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 27px 20px 0 17px;
  background-color: #292935;
  color: #ffffff;
}
.section__text-bot h3 {
  font-size: 15px;
}
.section__exp {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  width: 220px;
}
.section__exp-lang {
  display: grid;
  row-gap: 12px;
}
.section__exp-proc {
  display: grid;
  justify-content: center;
  row-gap: 12px;
  width: 130px;
}
.line {
  display: flex;
}
.line1 hr {
  width: 110px;
  height: 5px;
}
.line2 hr {
  height: 4px;
  width: 20px;
  background-color: #777;
}
.line3 hr {
  width: 60px;
  height: 5px;
}
.line4 hr {
  height: 4px;
  width: 70px;
  background-color: #777;
}
.line5 hr {
  width: 40px;
  height: 5px;
}
.line6 hr {
  height: 4px;
  width: 90px;
  background-color: #777;
}
.line7 hr {
  width: 40px;
  height: 5px;
}
.line8 hr {
  height: 4px;
  width: 90px;
  background-color: #777;
}

.section__contact {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.section__contact-ico {
  display: grid;
  width: 37px;
  height: 108px;
  background-color: #ffc905;
  justify-content: center;
  align-content: center;
  row-gap: 18px;
}
.section__contact-cont {
  margin-top: 10px;
  row-gap: 10px;
}
.section__contact-cont h5 {
  font-size: 12px;
}
.section__contact-cont p {
  margin-bottom: 7px;
}

.section__right {
  width: 55%;
  padding: 40px 20px 0 17px;
  background-color: #22222e;
  color: #ffffff;
}
.section__right-time {
  display: flex;
  column-gap: 10px;
}
.section__right h2 {
  margin-bottom: 20px;
}
.section__right h4 {
  font-size: 15px;
  margin: 15px 0;
}
.section__right h3 {
  font-size: 12px;
  font-weight: 100;
}
.section__right h5 {
  font-size: 12px;
  margin-bottom: 20px;
}
.section__right p {
  color: #000000;
  background-color: #ffc905;
  padding: 0 3px 0 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.section__right-footer {
  display: grid;
  width: 300px;
  row-gap: 15px;
  margin: 30px 0 10px 0;
  padding-right: 20px;
}
.section__right-ico {
  display: flex;
  column-gap: 70px;
  justify-content: center;
  padding-left: 21px;
}
.section__right-cont {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}
